@mixin btn-size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin widthHeader($n, $width) {
  $val: 100 /12 *$n;

  @media screen and (max-width: $width) {
    width: $val;
    @content;
  }
}

@mixin marginBox ($numT, $numB) {
  margin-top: $margin-primary-top - $numT;
  margin-bottom: $margin-primary-bottom - $numB;
}