.news {
  &__header {
    text-align: center;
  }
  &__title{
    text-transform: capitalize;
  }

  &__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  &-wrapper__img {
    flex-grow: 1;
    overflow: hidden;
    position: relative;

    cursor: pointer;

    &::before {
      display: block;
      content: "";
      width: 4rem;
      height: 4rem;
      top: 50%;
      left: 50%;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
      z-index: 1;
      position: absolute;
      transition: width 1s, height 1s, border 0s;
      border: 35rem solid rgba(var(--color-secondary-text), 0.5)
    }

    &:hover {
      &::before {
        transform: translate(-50%, -50%);
        width: 120rem;
        height: 120rem;
        //border: 0rem solid rgba(var(--color-tertiary-text), 0.9)
      }

      span {
        display: block;
        
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
       object-fit: cover;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      font-size: 5rem;
      color: var(--accept-color-tertiary-text);
      z-index: 5;
      display: none;
      opacity: 0;
      animation: video 0.5s ease-in-out 0.3s both;
    }
  }
  &__info{
    text-transform: uppercase;
  }
}