.footer {
  color: inherit;
  position: relative;

  ul {
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    // color: inherit;
  }

  &__header {
    display: flex;
    height: 5rem;

    &>* {
      align-self: flex-end;
      line-height: 1
    }
  }

  &__post {
    li {
      transition: 0.5s ease-in-out 0.2s;
    }

    a {
      transition: 0.5s ease-in-out 0.2s;
    }

    .post__date {
      color: var(--accept-color-primary-text);
      text-transform: uppercase;
      font-weight: 500;
      line-height: 3;
    }

    li:hover {

      transform: translateY(-0.5rem);

      a {
        text-shadow: 3px 3px 2px rgba(145, 150, 150, 1);
        transition: 0.5s ease-in-out 0.2s;
        transform: scale(1.1);
        transition: 0.5s ease-in-out 0.2s;
        color: var(--accept-color-tertiary-text);
      }

    }
  }

  &__link,
  &__twitter {
    a {
      display: block;
      position: relative;
      transition: 0.2s;
      text-decoration: none;
      color: inherit;

      &::before {
        content: "";
        position: absolute;
        left: -1.7rem;
        bottom: 20%;
        border: 5px solid transparent;
        border-left: 6px solid currentColor;
        display: block;
        width: 0;
        height: 0;

      }

      &:hover {
        color: var(--accept-color-primary-text);
        text-shadow: 0px 3px 0px #b2a98f,

          0px 14px 10px rgba(0, 0, 0, 0.15),

          0px 24px 2px rgba(0, 0, 0, 0.1),

          0px 34px 30px rgba(0, 0, 0, 0.1);
        transform: translateY(-0.2rem);

        &::before {
          animation: arrowShow 1s linear 0.2s infinite;
        }

      }

    }
  }

  &__twitter {
    .twitter__date {
      position: relative;

      .fa-twitter {
        position: absolute;
        left: -0.1rem;
        bottom: 10%;
      }
    }

    a::before {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid var(--accept-color-primary-text);


    .menu {
      flex-grow: 1;

    }

    .menu__list {
      display: flex;

      flex-wrap: wrap;
      padding-top: calc(var(--offset) * 1.6);
      padding-bottom: calc(var(--offset) * 1.6);

      @media screen and (max-width: 660px) {
        justify-content: center;
      }

    }


    .menu__link {
      padding: 1rem 2rem;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      transition: all 0.3s ease-in-out 0.1s;

      &:hover {
        color: var(--accept-color-primary-text);
        transform: scale(1.1);
      }

    }
  }

  &__info {
    display: flex;
    padding-top: calc(var(--offset) * 1.6);
    padding-bottom: calc(var(--offset) * 1.6);
    text-align: center;

    a {
      display: block;
    }
  }



  .scene {
    position: absolute;
    top: 110%;
    left: 100%;

    width: 500px;
    height: 500px;

    transform: translate(-50%, -50%);


    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;

    @media(max-width: 900px) {
      display: none;
    }
  }

  .scene--footer-1 {
    top: 40%;
    left: 8%;
  }
  .scene--footer-2 {
    top: 90%;
    left: 90%;
  }

  .layer {
    position: absolute;
    transform-origin: center;
    border-radius: 100%;
  }

  .layer-1 {
    z-index: 3;
    width: 1000px;
    height: 1000px;
    transform-origin: center;
    z-index: 1;
  }
  .layer-2 {
    background-size: cover;
    opacity: 0.4;
    z-index: 2;
  }
  .layer-2 {
    background-size: cover;
    z-index: 3;
  }

  .scene--footer-1 {

    .layer--footer-1 {
      background: linear-gradient(to right, rgba(var(--color-primary-bg), 1) 40%, rgba(var(--color-primary-bg), 1) 100%);
      box-shadow: inset 0px 0px 49px 3px rgba(var(--color-primary-bg), 0.4);
      width: 500px;
      height: 500px;

    }


    .layer--footer-2 {
      background: url("https://www.meme-arsenal.com/memes/8492a2106037794c58aab47ea24ef699.jpg") center no-repeat;
       box-shadow: inset 0px 0px 49px 3px rgba(var(--color-primary-bg), 0.75);
       width: 200px;
       height: 200px;
       background-position: 50% 30%;
       background-size: cover;
    }

    .layer--footer-3 {
      background: url("https://www.meme-arsenal.com/memes/8492a2106037794c58aab47ea24ef699.jpg") center no-repeat;
       background: linear-gradient(to right, rgba(var(--color-primary-bg), 1), rgba(var(--color-primary-bg), 1));
      box-shadow: 0px 0px 49px 10px rgba(var(--color-primary-bg), 1);
     
      width: 200px;
      height: 200px;
    }
  }

  .scene--footer-2 {
    .layer--footer-1 {
      background: linear-gradient(to right, rgba(var(--color-secondary-bg), 1) 40%, rgba(var(--color-secondary-bg), 1) 100%);
      box-shadow: inset 0px 0px 49px 3px rgba(var(--color-secondary-bg), 0.4);
   
    }


    .layer--footer-2 {
      background: url("https://bigpicture.ru/wp-content/uploads/2018/09/3-19.jpg") center no-repeat;
      box-shadow: inset 0px 0px 49px 3px rgba(var(--color-secondary-bg), 0.75);
      width: 300px;
       height: 300px;
      background-position: 50% 50%;
    }

    .layer--footer-3 {
      background: url("https://bigpicture.ru/wp-content/uploads/2018/09/3-19.jpg") center no-repeat;
      background: linear-gradient(to right, rgba(var(--color-secondary-bg), 1), rgba(var(--color-secondary-bg), 1));
      box-shadow: 0px 0px 49px 10px rgba(var(--color-secondary-bg), 1);
      width: 300px;
       height: 300px;
    }
  }

}