.comment {
  &__wrapper {
    .open {
      animation: commentShow 0.5s cubic-bezier(.58, .15, 1, .85) 0.2s both;
      opacity: 1;
      display: block;
    }

    .dots-color {
      background: var(--accept-color-primary-text);
    }
  }

  &__block {
    list-style: none;
    display: flex;
    margin: 0 auto;
    overflow: hidden;

  }

  &__box {
    text-align: center;
    display: none;
    opacity: 0;
    transform: scale(0)
  }

  &__author {
    display: block;

  }

  &-wrapper__button {
    justify-content: center;


  }

}