.header {

  @media(max-width: 1200px) {
    .logo {
      width: 50%;
      text-align: center;
    }

    .recording {
      width: 50%;
      justify-content: center;
    }
  }

  @media(max-width:900px) {
    .logo {
      width: 100%;
      text-align: center;
    }

    .recording {
      width: 100%;
      justify-content: center;
    }
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: var(--accept-color-primary-text);
    top: 15rem;
    z-index: 5;
    opacity: 0.5;

    @media (max-width: 900px) {
      display: none;
    }
  }



  &__subtitle:last-child {
    text-transform: none;
    width: 50%;

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  &__title {
    margin: 2vh 0 3.5vh 0;
    animation: moveInLeft 1s 0.5s;
  }

}

.header--top {
  position: relative;
  font-size: var(--size-primary-text);
  color: var(--accept-color-primary-text);
  text-transform: uppercase;
  font-weight: 400;
  justify-content: center;




  .menu {
    //width: 54rem;
    margin-left: 2.5rem;
    flex-grow: 1;

    @media screen and (max-width: 1200px) {
      order: 1;
      margin: 2rem 0 1rem;
    }

    &__list {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

    }

    &__item {
      position: relative;
      border-radius: 2.5rem;
      transition: all 0.4s;
      animation: moveInBottom 1s 1s;

      &:first-child {
        animation: moveInBottom 1s 0.4s;
      }

      &:nth-child(2) {
        animation: moveInBottom 1s 0.5s;
      }

      &:nth-child(3) {
        animation: moveInBottom 1s 0.6s;
      }

      &:nth-child(4) {
        animation: moveInBottom 1s 0.7s;
      }

      &:nth-child(5) {
        animation: moveInBottom 1s 0.9s;
      }

      &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 100%;
        background: var(--accept-color-primary-text);
        border-radius: 2.5rem;
        transform: scaleY(0);
        left: 50%;
        transition: all 0.2s;
      }

      &:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
      }

      &:active {
        transform: translateY(0);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      }

      &:hover::before {
        transform: scaleY(1);
        width: 100%;
        left: 0%;
      }

      &:hover .menu__link {
        color: var(--accept-color-primary-bg);

      }
    }

    &__link {
      display: block;
      text-decoration: none;
      color: var(--accept-color-primary-text);
      padding: 0.7rem 1.4rem;
      letter-spacing: 1px;
      position: relative;
      cursor: pointer;

    }
  }

  .recording {
    // margin-left: 4rem;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    &>* {
      display: block;
      cursor: pointer;
    }


    @media (max-width: 515px) {
      margin: 0 auto;
    }

    &__login {}

    &__button {
      margin-left: 2.5rem;
    }
  }

}

.header--center {
  position: relative;
  z-index: 0;

  .header-wrapper__text {
    display: flex;
    //overflow: hidden;


  }

  .header-text__box {
    min-width: 110%;


    .header__title {
      //max-width: 1170px;
    }
  }

  .button-wrapper {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    content: "";
    width: 90rem;
    height: 90rem;
    background: #ffffff;
    z-index: -100;
    border-radius: 50%;
    bottom: 3%;
    left: -20%;
    background: linear-gradient(to right, var(--accept-color-secondary-bg) 40%, var(--accept-color-primary-bg));
    animation: circleShow 60s linear infinite;
    transform-origin: 0% 100%;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}



.header--bottom {
  position: relative;
  z-index: 100;


  .block-offers {
    border-top: 1px solid var(--accept-color-primary-text);
    color: var(--accept-color-secondary-text);

  }

  .box {
    cursor: pointer;
    //background: var(--accept-color-primary-text);
    padding: 6rem 4rem 4rem 4rem;
    flex: 1 1 20rem;
    height: 0%;


    @media screen and (max-width: 900px) {
      height: auto;
      background: linear-gradient(-45deg, rgba(#EE7752, 0.3), rgba(#E73C7E, 0.3), rgba(#23A6D5, 0.3), rgba(#23D5AB, 0.3));
      background-size: 400% 400%;
      animation: Gradient 30s linear infinite alternate;
    }


    &__title {
      margin-bottom: 0.3rem;
    }

    &__text {
      width: 90%;
    }

    &__list {
      margin-top: 1.5rem;
      list-style: none;
      display: none;
      opacity: 0;
      height: 0;
    }

    &__item {
      cursor: pointer;
      padding: 0.9rem 0;
      transition: 0.2s;


      i {
        margin-right: 1rem;
        margin-bottom: 0;
      }

      &:hover {
        color: var(--accept-color-secondary-bg);

        i {
          animation: arrowShow 1s linear 0.2s infinite;
        }
      }
    }

    .button__box {
      margin-top: 4rem;
      transition: 0.3s;
      opacity: 0;
      display: none;

    }
  }

  input {
    display: none;
  }

  input[type="radio"]:checked~.box {
    background: var(--accept-color-primary-text);
    color: var(--accept-color-secondary-text);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
    animation: listShow 0.3s ease-out 0.1s both;

    i {
      color: var(--accept-color-secondary-bg);
    }

    .box__list {
      display: block;
      animation: listShow 0.3s ease-in 0.2s both;
    }

    .button__box {
      display: block;
      animation: listShow 0.3s ease-in 0.35s both;
    }

    @media screen and (max-width:900px) {

      .box__list {
        animation: listShow 0.3s ease-in 0.2s both;
      }

      .button__box {
        display: block;
        animation: listShow 0.3s ease-in 0.35s both;
      }
    }
  }
}


.scene {
  position: absolute;
  top: 110%;
  left: 100%;

  width: 500px;
  height: 500px;

  transform: translate(-50%, -50%);


  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;

  @media(max-width: 900px) {
    display: none;
  }
}

.layer {
  position: absolute;
  width: 300px;
  height: 300px;
  transform-origin: center;
  border-radius: 100%;
}

.layer-1 {
  background: linear-gradient(to right, rgba(var(--color-secondary-bg), 1) 40%, rgba(var(--color-secondary-bg), 1) 100%);
  z-index: 3;
  width: 1000px;
  height: 1000px;
  transform-origin: center;
  box-shadow: inset 0px 0px 49px 3px rgba(var(--color-tertiary-text), 0.4);
  z-index: 1;

}


.layer-2 {
  background: url("https://bigpicture.ru/wp-content/uploads/2018/09/3-19.jpg") center no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: 2;
  box-shadow: inset 0px 0px 49px 3px rgba(var(--color-tertiary-text), 0.75);
  width: 250px;
  height: 250px;
  background-position: 50% 50%;
}

.layer-3 {
  background: url("https://bigpicture.ru/wp-content/uploads/2018/09/3-19.jpg") center no-repeat;
  background-size: cover;
  background: linear-gradient(to right, rgba(var(--color-secondary-bg), 1), rgba(var(--color-secondary-bg), 1));
  box-shadow: 0px 0px 49px 10px rgba(var(--color-secondary-bg), 1);
  z-index: 3;
  width: 250px;
  height: 250px;
}



.margin-one {
  animation: 0.5s ease-in-out 0.2s both;
}