.stats {
  background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 30s linear infinite alternate;

  &__list {
    list-style: none;

  }
  &__title, &__subtitle{
    color: var(--color-primary-text);
  } 
  

  .box--right {
    position: relative;
    display: flex;
    @media (max-width: 1200px){
      justify-content: center;
      margin-top: calc(var(--margin-primary-top) *1.2);
    }
    

    .play__wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 5rem;
      border: 0.3rem solid var(--accept-color-primary-text);
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      @include flex-center;

      &::before,
      &::after {
        content: "";
        border: 0.1rem solid var(--accept-color-primary-text);
        width: 17rem;
        height: 17rem;
        border-radius: 100%;
        position: absolute;
        //animation: pulse 1.8s linear infinite;
      }

      &:hover {
        &::before {
          animation: pulse 1.8s linear infinite;
        }

        &::after {
          animation: pulse 1.8s 0.5s linear infinite;
        }
      }

      i {
        display: block;
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 1;

      }
    }

    .video {
      display: none;
      opacity: 0;

      &--open {
        display: block;
        animation: video 0.8s 0.2s ease-in-out both;
      }
    }

    .btn-closs {
      animation: video 0.8s 0.2s ease-in-out reverse;
    }
  }

}