.wrapper-flex {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}



.header {
  background: linear-gradient(to right, rgba($color-primary-bg, 1) 40%, rgba($color-secondary-bg, 1) 100%);
  height: 140vh;

  &--top {
    height: 15rem;
    padding-top: 1rem;
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }

  &--center {
    padding: 12vh 0 13vh;
  }

  &-wrapper__button {
    margin-top: 8vh;
  }
}

.history {
  &__wrapper {
    background: $color-primary-text;
    margin-top: -($margin-primary-top);
    margin-bottom: $margin-primary-bottom;
    padding-top: $margin-primary-top *2;
    transform: skewY(5deg);

    &>* {
      transform: skewY(-5deg);
    }

    position: relative;
    z-index: 20;
  }

}

.comment {
  &__wrapper {
    padding-top: $margin-primary-top;
    padding-bottom: 8rem;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 30s linear infinite alternate;
  }
}

.project {
  &__wrapper {
    box-sizing: border-box;
      padding: {
      top: $margin-primary-top;
      bottom: $margin-primary-bottom;
    }
  }
  &__subtitle {
    margin-top: -1rem;

  }

  &__title {
    margin-top: -2rem;
    margin-bottom: 1rem;
  }
}

.stats {
  &__wrapper {
    box-sizing: border-box;
      padding: {
      top: $margin-primary-top ;
      bottom: $margin-primary-bottom;
    }
  }
  &__subtitle {
    margin-top: -1rem;

  }

  &__title {
    margin-top: -2rem;
    margin-bottom: 1rem;
  }
  &__list{
    margin-top: 4rem;
  }
  &__nem{
    display: block;
  }
  &__nomination{
    display: block;
    margin-top: -0.5em;
  }
}

